@media screen and (max-width : 767px){
    
    .nav-items{
        display: none;
    }
    nav button{
        display: none;
    }
    .burger{
        display: block;
    }
    .nav-items2{
        font-weight: 600;
        margin-right: 30%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
   
   
    .best-sellers-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        min-height: 1200px;
    }

    .product-card{
        min-height: 300px;
    }

    #mobile-games{
         display: flex;
         flex-direction: column;
         min-height: 1900px;
         
    }

    #Desktop-games{
         display: flex;
         flex-direction: column;
         min-height: 1900px;
    }

    .grid-item{
        min-height: 300px;
        width: 100%;
    }

    .main-grid-item1{
        display: flex;
        flex-direction: column;
    }

    .main-grid-item2{
        min-height: 300px;
        width: 100%;
        
    }
    #game-desc2{
       margin-left: 12.5%;
    }

    #Desktop-games{
        display: none;
    }

    .gaming-shop{
        margin-top: -20rem;
    }

    .gaming-market{
       flex-direction: column;
       gap: 30px;
    }
    .gaming-card{
        width: 80%;
        margin: 0 10%;
    }

    .first-grid-line{
        gap : 20px;
    }

    .packs{
        margin-top: -2rem;
    }

    .packs-container{
        position: relative;
        min-height: 600px;
    }
    .packs-head{
        flex-direction: column;
        gap: 20px;
        width: 80%;
        margin : 0 ;
    }
    .packs-head h3{
        font-size: 0.9rem;
        margin-top: 0.4rem;
    }
    .sponsors{
        width: 100%;
        flex-direction: column;
        gap: 30px;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        
    }
    .packs-bg{
        display: none;
    }

    .sponsor-card{
        width: 45%;
        margin-right: 72.5%;
    }

    footer h3{
        font-size: 0.7rem;
    }
    footer{
        margin-top: 2.5rem;
    }


    .about-history{
        flex-direction: column;
        width: 100%;
       
    }

    #about2{
        margin-top: 5rem;
    }

    .about-history img{
        display: none;
    }
   
    .history-desc{
        width: 100%;
        text-align: center;
    }
    
    .streamers-cards{
        flex-direction: column;
    }
   
    .streamer{
        width: 80%;
        margin: 1rem 10%;
    }

    #FAQ {
        margin-top: -2rem;
    }

    .faq-img{
        display: none;
    }

    .faq-container{
        width: 100%;
    }

    .payment-section{
        flex-direction: column;
        min-height: 800px;
        gap: 30px;
        width: 80%;
        margin: 2rem 10% ;
    }
    .order-summary{
        width: 100%;
    }

    .payment-methods{
        width: 100%;
    }

    .payment-back{
        margin-bottom: 2rem;
    }
} 

@media screen and (min-width : 768px ) and (max-width : 1023px) {
    .arrow{
        left: 46%;
    }
    .desc-container {
        flex-direction: column;
    }
    .desc-container img, .desc-content{
        width: 80%;
        margin: 1rem 10%;
    }
    .desc-content h3{
        text-align: center;
    }

    .articles-container{
        flex-direction: column;
        gap: 40px;
    }
    .mobile-content{
        left: 30%;
    }

    .articles-card{
        width: 50%;
        margin: 0 25%;
    }

    .compet-infos{
        margin-top: 90%;
    }

    .contact-form img{
        display: none;
    }

    .contact-form form{
        width: 80%;
        margin: 0 10%;
    }
    

    
    .divider{
      display: none;
    }
    .nav-items{
        display: none;
    }
    nav button{
        display: none;
    }
    .burger{
        display: block;
    }
    .nav-items2{
        font-weight: 600;
        margin-right: 30%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .rwm .product-info h3{
        margin-left: 1.5rem;
    }

    .grid1-item .game-desc {
        padding-top: 0.5rem;
    }
    .sponsors{
        width: 80%;
        margin: 0 10%;
    }
    .packs-head{
        width: 80%;
        margin: 2rem 10%;
    }
    #about2{
        margin-top: 5rem;
    }
   
    .history-desc{
       width: 100%;
    }
    .history-desc p{
        text-align: center;
    }
   
    .about-history img{
        display: none;
    }

    .streamers-cards{
        flex-wrap: wrap;
        gap: 20px;
    }
    .streamer{
        width: 48%;
    }

    
    .faq-img{
        display: none;
    }

    .faq-container{
        width: 100%;
    }


}